# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Distribution / packaging
.env
venv/
ENV/
env/

# VS Code
.vscode/
*.code-workspace
.history/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
out/

# Jupyter Notebook
.ipynb_checkpoints

# Project specific


.git/
data/occupancy/
*.jpg
*.jpeg
*.png
*.pt
*.onnx
*.tflite

# Mac
.DS_Store 